 <div class="container" style="margin-top:20px;">
   <div class="row">
      <div class="col-6">
        <%= form_for(@item, url: admin_items_path) do |f| %>

            <div class="col-md-5 col-xs-5">
             <h2>新規登録</h2>
            </div>

            <div class="item-new-form" style="margin-top:20px;">
            <%= f.attachment_field :image %>
            </div>
            <div class="product-img" style="margin-top: 30px;">
            <%= image_tag 'no_image.jpg', id:"file-preview", :size => '350×350' %>
            </div>
      </div>


              <div class="col-6">
                <table class="new-form-table">
                  <tbody>

                  <tr>
                    <th>商品名</th>
                    <td><%= f.text_field :name, class: "form-control" %></td>
                  </tr>

                  <tr style="margin-top:10px">
                    <th>商品説明</th>
                    <td><%= f.text_area :items_explanation, class: "form-control" %></td>
                  </tr>


                  <tr>
                    <th>ジャンル</th>
                    <td><%= f.collection_select :genre_id, Genre.all ,:id, :name, include_blank: "--選択してください--" %></td>
                  </tr>

                  <tr>
                    <th>税抜価格</th>
                    <td><%= f.text_field :non_taxed_price, class: "form-control" %></td>
                  </tr>

                  <tr>
                    <th>販売ステータス</th>
                    <td><%= f.select :sales_status, [["販売中","false"], ["販売不可","true"]], include_blank: "--選択してください--" %></td>
                  </tr>
                  </tbody>
                </table>

                <div class="text-right">
                <%= f.submit "新規登録" ,class: "btn btn-primary text-right" %>
                </div>
              </div>
        <% end %>


      </div>
    </div>
  </div>
