
 <h4>注文情報確認</h4>
<div class="row">
	<div class="col-xs-8">
		<table class="table table-bordered">
			<tr>
				<th>商品名</th>
				<th>単価(税込)</th>
				<th>数量</th>
				<th>小計</th>
			</tr>

        <% @sum=0 %>
		<% @cart_items.each do |ci| %>
		<tr>
			<td>
				<%= attachment_image_tag ci.item, :image, size: "60x60" %>
				<%= ci.item.name %>
				<% @sum+=addTax(ci.item)* ci.amount %>
			</td>
			<td>
	 			<%= hidden_field_tag :item_price, ci.item.non_taxed_price %>
				<%= (addTax(ci.item)* ci.amount).floor %>
			</td>
			<td>
				<%= hidden_field_tag "items_id[#{ci.id}]", ci.item_id %>
				<%= number_field_tag "amount[#{ci.id}]", ci.amount, in: 1..10 %>
			</td>
			<td>
				<%= hidden_field_tag "tax_price[#{ci.id}]", addTax(ci.item) %>
				<%= (addTax(ci.item)).floor %>
			</td>
		<% end %>
		</table>
	</div>

<% @cart_items.each do |ci| %>

	<div class="col-xs-4">
		<table class="table table-bordered">
			<tr>
				<th>送料</th>
				<td>800</td>
			</tr>
			<tr>
				<th>商品合計</th>
				<td><%= (addTax(ci.item)*ci.amount).floor %></td>
			</tr>
			<tr>
				<th>請求金額</th>
				<td><%= (addTax(ci.item)*ci.amount+800).floor %></td>
			</tr>
		</table>
	</div>
</div>
<% end %>
<h4>支払い方法</h4>
	<p><%= @order.pay_status %></p>

<h4>お届け先</h4>
	<p>〒<%= @order.postal_code %>
	<%= @order.address %>
	<%= @order.name %> 様</p>

<hr>

<%= form_with model: @order,  url: orders_path, local: true do |f|%>
<%= f.hidden_field :postal_code, :value =>@order.postal_code %>
<%= f.hidden_field :address, :value => @order.address %>
<%= f.hidden_field :address, :value => @order.name %>
<div class="text-center">
	<%= f.submit '注文を確定する',  class:"btn btn-success" %>
</div>
<% end %>
</div>
