
 <h4>注文情報確認</h4>
<div class="row">
	<div class="col-xs-8">
		<table class="table table-bordered">
			<tr>
				<th>商品名</th>
				<th>単価(税込)</th>
				<th>数量</th>
				<th>小計</th>
			</tr>


		<% @items.each do |item| %>
			<tr>
				<td><%= item.items.name %></td>
				<td><%= addTax(item.items.price) %></td>
				<td><%= item.amount %></td>
				<td><%= addTax(item.tax_price) %></td>
			</tr>
		<% end %>
		</table>
	</div>

	<div class="col-xs-4">
		<table class="table table-bordered">
			<tr>
				<th>送料</th>
				<td>800</td>
			</tr>
			<tr>
				<th>商品合計</th>
				<td><%= addTax(@items.sum(:tax_price)) %></td>
			</tr>
			<tr>
				<th>請求金額</th>
				<td><%= addTax(@items.sum(:tax_price))+800 %></td>
			</tr>
		</table>
	</div>
</div>

<h4>支払い方法</h4>
	<p><%= @order.pay_status %></p>

<h4>お届け先</h4>
	<p>〒<%= @order.postal_code %>
	<%= @order.address %>
	<%= @order.name %> 様</p>

<hr>

<div class="text-center">
	<%= link_to '注文を確定する', orders_finish_path, class:"btn btn-success" %>
</div>
</div>