<div class="container">
  <div class="row">


<%= form_with  url: comfirm_orders_path, method: :post, local: true do |f| %>

<main>
  <h1>注文情報入力</h1>
  <h3>支払方法</h3>
<div class="field">
  <%= f.label :receive_pay, 'クレジットカード', value: 0 %>
  <%= f.radio_button :receive_pay, 0 %>
</div>
<div class="field">
  <%= f.label :receive_pay, '銀行振込', value: 1 %>
  <%= f.radio_button :receive_pay, 1 %>
</div>
  <h3>お届け先</h3>

<div class="field">
  <%= f.label :address_select, 'ご自身の住所', value: 0 %>
  <%= f.radio_button :address_select, '0' %>
  〒<%= current_customer.postal_code %> <%= current_customer.address %>
    <%= current_customer.last_name %> <%= current_customer.first_name %>
</div>
<div class="field">
  <%= f.label :address_select, '登録済みの住所', value: 1 %>
  <%= f.radio_button :address_select, '1' %>
  <%= f.collection_select :address, current_customer.deliveries, :address, :address, include_blank: "選択して下さい" %>
</div>
<div class="field">
  <%= f.label :address_select, '新しいお届け先', value: 2 %>
<%= f.radio_button :address_select, '2' %>
<label for="inputPostalCode">郵便番号</label>
  <%= f.text_field :postal_code %>
<label for="inputAddress">住所</label>
  <%= f.text_field :add %>
<label for="inputName">宛名</label>
  <%= f.text_field :name %>
</div>

<div class="form-group">
  <div class="col-xs-2 col-xs-offset-5">
    <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
  </div>
</div>


<% end %>

</main>