<%= form_with model: @order, local: true do |form| %>

<main>
  <h1>注文情報入力</h1>
  <h3>支払方法</h3>
<div class="field">
  <%= check_box_tag :test1 %>
  <%= label_tag :test1, "クレジットカード" %>
</div>
<div class="field">
  <%= check_box_tag :test1 %>
  <%= label_tag :test1, "銀行振込" %>
</div>
  <h3>お届け先</h3>

<div class="field">
  <%= check_box_tag :test1 %>
  <%= label_tag :test1, "ご自身の住所" %>
  〒<%= current_customer.postal_code %> <%= current_customer.address %>
    <%= current_customer.last_name %> <%= current_customer.first_name %>
</div>
<div class="field">
  <%= check_box_tag :test1 %>
  <%= label_tag :test1, "登録済みの住所" %>
  <%= form.collection_select :address, current_customer.deliveries, :address, :address, include_blank: "選択して下さい" %>
</div>
<div class="field">
  <%= check_box_tag :test1 %>
  <%= label_tag :test1, "新しいお届け先" %>
<label for="inputPostalCode">郵便番号</label>
  <%= form.text_field :postal_code %>
<label for="inputAddress">住所</label>
  <%= form.text_field :address %>

</div>
<% end %>

</main>