<h1>商品一覧</h1>
<h6>全<%= Item.count%>件</h6>
<div class = "container">
  <div class = "row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">

    <% @items.each do |item| %>
    <div class = "col">
      <div class = "card shadow-sm">
        <%= attachment_image_tag item, :image, class: "img-fluid"%>
      </div>
      <p class="font-weight-bold"><%= item.name %></p>
      <p class="font-weight-bold"><%= item.non_taxed_price %></p>
    </div>
    <% end %>

  </div>
</div>
<%= paginate @items %>