
<p><%= link_to "商品一覧", admin_items_path %></p>
<p><%= link_to "会員一覧",  admin_customers_path %></p>
<p><%= link_to "注文履歴一覧", admin_orders_path %></p>
<p><%= link_to "ジャンル一覧",admin_genres_path %></p>
<<<<<<< HEAD
<p><%= link_to "ログアウト",admin_genres_path %></p>

<li><%= link_to "商品一覧", admin_items_path, style: "font-family: HiraMinPro-W6; color: #000000;" %></li>
<li style="font-family: Osaka; margin-top: 15px; color: #696969;">|</li>
<li><%= link_to "会員一覧", admin_customers_path, style: "font-family: HiraMinPro-W6; color: #000000;" %></li>
<li style="font-family: Osaka; margin-top: 15px; color: #696969;">|</li>
<li><%= link_to "注文履歴一覧", admin_orders_path, style: "font-family: HiraMinPro-W6; color: #000000;" %></li>
<li style="font-family: Osaka; margin-top: 15px; color: #696969;">|</li>
<li><%= link_to "ジャンル一覧", admin_genres_path, style: "font-family: HiraMinPro-W6; color: #000000;" %></li>
<li style="font-family: Osaka; margin-top: 15px; color: #696969;">|</li>
<li><%= link_to "About", about_path, style: "font-family: HiraMinPro-W6; color: #000000;" %></li>
<li style="font-family: Osaka; margin-top: 15px; color: #696969;">|</li>
<li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
=======
<p><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></p>
>>>>>>> 9629714b3985cffde846eb74b1f5056067b88b7c
