<!DOCTYPE html>

<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/6f0d38cdd3.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
  </head>

  <body id="wrapper">
    <header>
      <h2 class="head-line title_h2 text-left">LOGO</h2>
      <!--管理者か顧客かで場合分け-->
      <% if admin_signed_in? %>
        <%= render "layouts/admin_header" %>
      <% else %>
        <%= render "layouts/public_header" %>
      <% end %>
    </header>
    
    <div class="container">
      <div id="flash">
      </div>
      <%= yield %>
    </div>
     <%= render "layouts/footer" %>
  </body>
</html>
